html {
    margin: 10px;
    margin-bottom: 20px;
}

body,
/* unvisited link */
a:link {
    color: black;
}
 
/* visited link */
a:visited {
    color: black;
}
  
  /* mouse over link */
  a:hover {
    color: blue;
}
  
  /* selected link */
  a:active {
    color: blue;
}

/*div.a {
    width: 75%;
    line-height: 20px;
    text-align: justify;
}*/

.button {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    outline: 0px;
    padding: 1px;
    width: 150px;
    border-color: rgb(94, 94, 94);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 20px;
}

.accordion {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    outline: 0px;
    padding: 1px;
    width: 150px;
    border-color: rgb(94, 94, 94);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
  
.active, .accordion:hover {
    background-color: #ccc; 
}

/* video */


/*table*/

.panel {
    padding: 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 5px;  /* Rounded border */ 


}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

table, 
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
    /*width: 100%;*/
}

th {
    text-align: left;
}

td {
    vertical-align: left;
}

.col-1,
.col-2,
.col-3 {
    width: 5%;
}

/*gallery*/

  div.gallery img {
    width: 100px;
  }

/* Mobile */

    @media only screen and (max-width: 560px) { 

}