/* body, html {
    width: 100%;
} */

body,
/* unvisited link */
a:link {
    color: black;
}
  
/* visited link */
a:visited {
    color: rgb(54, 54, 54);
}
  
  /* mouse over link */
  a:hover {
    color: blue;
}
  
  /* selected link */
  a:active {
    color: blue;
}

html {
    margin: 10px;
    margin-bottom: 20px;
}

div.a {
    width: 75%;
    line-height: 20px;
    text-align: justify;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    outline: 0px;
    padding: 1px;
    width: 150px;
    border-color: rgb(94, 94, 94);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 20px;
}

.accordion {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    outline: 0px;
    padding: 1px;
    width: 150px;
    border-color: rgb(94, 94, 94);
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
  
.active, .accordion:hover {
    background-color: #ccc; 
}
  
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.main-img {
    width: 100px;
}

.icon {
    width: 25px;
    height: 25px;

}
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/*table*/

table, 
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    /*width: 100%;*/
}

th, td {
  padding: 5px;
}

th {
    text-align: left;
}

td {
    vertical-align: center;
}

.col-1,
.col-2,
.col-3 {
    width: 10%;
}

img {
    border: 0px solid rgb(255, 255, 255); /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/*gallery*/

  div.gallery img {
    width: 100px;
  }

/* Mobile
--------------------------------------------------

    @media only screen and (max-width: 650px) { 
.responsive {

}*/